<div class="container">
  <h1>Challenge Triathlon 2020</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <%= link_to leagues_path, class: "btn btn-success btn-block" do %>
          Liste des leagues de Triathlon
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <%= link_to clubs_path, class: "btn btn-success btn-block" do %>
          Liste des clubs de la FFTRI
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <%= link_to formats_path, class: "btn btn-success btn-block" do %>
          Liste des formats
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <div class="btn btn-danger btn-block">
          Importer des licenciés (admin)
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <%= link_to new_contest_path, class: "btn btn-success btn-block" do%>
          Créer une course
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <%= link_to contests_path, class: "btn btn-success btn-block" do %>
          Liste des courses
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <div class="btn btn-secondary btn-block">
          Régles de calculs
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <div class="btn btn-secondary btn-block">
          Importer des résultats
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <div class="btn btn-secondary btn-block">
          Saisir des résultats
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="homepage-card">
        <div class="btn btn-secondary btn-block">
          Afficher des résultats
        </div>
      </div>
    </div>
  </div>
</div>

